@import url(./root.css);

html, body {
  cursor: var(--babidi-cursor-normal);
  background-attachment: fixed; 
  margin: 0;
  height: 100%;
  overflow: hidden;
}
 
#OS {
  display: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/windows-7-background.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

button {
  cursor: var(--babidi-cursor-click);
  width: fit-content;
  position: absolute;
}

#file-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px; 
  margin-bottom: 20px;
  text-align: center;
  cursor: var(--babidi-cursor-click);
  overflow: hidden;
}

.file-item img {
  width: 48px; 
  height: 48px;
}

.file-item span {
  margin-top: 5px;
  font-size: 14px; 
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%; 
  text-align: center;
  color: white;
  text-shadow: -1px 1px 0 #000,
                         0.5px 0.5px 0 #000,
                         0.5px -0.5px 0 #000,
                         -0.5px -0.5px 0 #000,
                         black 1px 0 3px;
}

.hoverable:hover {
  backdrop-filter: blur(6px) saturate(172%);
  -webkit-backdrop-filter: blur(6px) saturate(172%);
  background-color: #91e5ff;
  opacity: 0.7;
  border-radius: 2px;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.selected {
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(6px) saturate(172%);
    -webkit-backdrop-filter: blur(6px) saturate(172%);
    background-color: #62bcee;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.window {
    position: absolute !important;
    overflow: auto;
    transition: visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
}

.window .content {
  flex-grow: 1;
  min-height: 0;
  margin-top: 4px;
  margin-right: 4px;
  overflow: hidden;
}

iframe {
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  flex-grow: 1; margin: 0; padding: 0;
  cursor: var(--babidi-cursor-normal);
}

.window.closed {
  display: none;
}

.title-bar {
    cursor: move;
    z-index: 10;
    cursor: var(--babidi-cursor-grab);
}

#taskbar {
  display: flex;
  gap: 2px;
}

#taskbar-area {
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 52px;
  border-top: 3px solid rgba(255, 255, 255, 0.125);
  box-sizing: border-box;
  padding-left: 10px;
  backdrop-filter: blur(6px) saturate(172%);
  -webkit-backdrop-filter: blur(6px) saturate(172%);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
  background: repeating-linear-gradient(
        45deg,
        transparent -70px,
        transparent 0px,
        rgba(255, 255, 255, 0.05) 5px,
        rgba(255, 255, 255, 0.1) 117px
    );
  bottom: 0;
}

#start-menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin-bottom: 52px;
  height: 500px;
  width: 400px;
}

#start-menu > .window-body{
  height: 100%;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  overflow: auto; 
}

.window.minimized {
  animation-duration: 0.2s;
  animation-name: minimize;
  opacity: 0;
  height: 0;
  display: none;
}

@keyframes minimize {
  from {
    transform: scale(1);
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: scale(0);
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}



