:root {
  --babidi-cursor-normal: url("../imgs/windows7_arrow.cur"), auto;
  --babidi-cursor-click: url("../imgs/windows7_link.cur") 7 0, auto;
  --babidi-cursor-grab: url("../imgs/windows7_move.cur") 5 0, auto;
  --babidi-cursor-text: url("../imgs/windows7_select.cur") 7 0, auto;
}

html, body {
  cursor: var(--babidi-cursor-normal);
  margin: 0;
  height: 100%;
  overflow: hidden;
}
 
#OS {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/windows-7-background.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

button {
  cursor: var(--babidi-cursor-click);
  width: fit-content;
  position: absolute;
}

#file-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px; 
  margin-bottom: 20px;
  text-align: center;
}

.file-item img {
  width: 48px; 
  height: 48px;
  cursor: var(--babidi-cursor-click);
}

.file-item span {
  margin-top: 5px;
  font-size: 14px; 
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%; 
  text-align: center;
  color: white;
  text-shadow: -1px 1px 0 #000,
                         0.5px 0.5px 0 #000,
                         0.5px -0.5px 0 #000,
                         -0.5px -0.5px 0 #000,
                         black 1px 0 3px;
}


.window {
    position: absolute !important;
    text-align: center;
    overflow: auto;
    transition: visibility 0.3s ease;
  }

.title-bar {
    cursor: move;
    z-index: 10;
    cursor: var(--babidi-cursor-grab);
}

iframe {
  overflow: hidden;
  border:none;
  width: 100%;
}

.taskbar {
  display: flex;
  gap: 2px;
  padding: 5px;
  padding-left: 10px;
}

footer {
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 47px;
  box-sizing: border-box;
  border-top: 1px solid #666;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    transparent 0.5vmax
  );
  background-color: #4580c4;
  bottom: 0;
}

.window.minimized {
  animation-duration: 0.2s;
  animation-name: minimize;
  opacity: 0;
  height: 0;
}

@keyframes minimize {
  from {
    transform: scale(1);
    height: auto;
    opacity: 1;
  }
  to {
    transform: scale(0);
    height: 0;
    opacity: 0;
  }
}



