:root {
  --babidi-cursor-normal: url("imgs/windows7_arrow.cur"), auto;
  --babidi-cursor-click: url("imgs/windows7_link.cur") 7 0, auto;
  --babidi-cursor-grab: url("imgs/windows7_move.cur") 5 0, auto;
  --babidi-cursor-text: url("imgs/windows7_select.cur") 7 0, auto;
}

html {
  overflow: hidden;
}

body {
  background-color: black;
}

html, body {
  cursor: var(--babidi-cursor-normal);
}
 
#OS {
  position: absolute;
  width: 70%;
  height: 95%;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  background-image: url("imgs/windows-7-background.jpg");
  background-position:center;
  background-color: black;
}

button {
  cursor: var(--babidi-cursor-click);
}
 
.window {
    position: absolute !important;
    z-index: 9;
    text-align: center;
    overflow: auto;
    
 
  }

  .title-bar {
    cursor: move;
    z-index: 10;
    cursor: var(--babidi-cursor-grab);
  }

.taskbar {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 7px;
  padding-left: 7px;
  padding-left: 8px;
}

footer {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: #fdfdfd;
  bottom: 0;
}